* { text-rendering: optimizeLegibility; }

header { text-align: center; }

header h1 { font-family: 'Crimson Text', serif; font-size: 2em;}

header p { width: 50%; margin: 0 auto; padding-top: 20px; }

li > h2 { font-weight: bold; text-align: center; margin-top: 20px; }

li > h2 a { text-decoration: none; color: inherit; cursor: default; }

li > h2 a:hover { text-decoration: none; }

li { clear: both; font-weight: bold; padding-top: 30px; }

ul img { float: right; }

ul p { width: 60%; }

ul ul { display: inline-block; position: relative; }

ul ul li { padding: 0; font-weight: normal; }

.price { font-size: .8em}

hr { width: 70%; margin: 0 auto; }

aside { position: absolute; left: 95%; top: 10px; text-align: right; }

aside a {
  color: #aaa !important;
  font-size: .8em;
}

#cornerBanner {
  background-color: #DDD;
  -moz-box-shadow: 2px 2px 20px #888;
  -moz-transform: rotate(-45deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  position: absolute;
  width: 300px;
  top: 45px;
  outline: 1px solid #777;
  font-weight: bold;
  left: -95px;
  font-family: sans-serif;
  text-align: center;
}
