* { text-rendering: optimizeLegibility; }

header { text-align: center; }

header h1 { font-family: 'Crimson Text', serif; font-size: 2em;}

header p { width: 50%; margin: 0 auto; padding-top: 20px; }

li > h2 { font-weight: 600; text-align: center; margin-top: 20px; }

li > h2 a { text-decoration: none; color: inherit; cursor: default; }

li > h2 a:hover { text-decoration: none; }

li { clear: both; font-weight: 600; padding-top: 30px; }

ul img { float: right; }

ul p { width: 60%; }

ul ul { display: inline-block; position: relative; }

ul ul li { padding: 0; font-weight: normal; }

hr { width: 70%; margin: 0 auto; }

aside { position: absolute; left: 10; top: 10; }

aside a {
  color: #aaa !important;
  font-size: .8em;
}