<!doctype html>
<html>
  <head>
    <title>A Basic Wardrobe</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <script type="text/javascript" src="//use.typekit.net/scv1kph.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">
      (function() {
        window.PA_SITE_ID = 3699117719787;
        var u='//api.pleasant.io/';
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pleasant.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  </head>
  <body>
    <header>
      <h1>A Basic Wardrobe</h1>
      <p>
        The goal of this website is to present a minimal <a target="_blank" href="http://en.wikipedia.org/wiki/Capsule_wardrobe">capsule wardrobe</a> for men that has been carefully thought out and considered. The suggested items in each section infer that the reader is willing to spend more money on fewer, better quality items.
      </p>
      <br>
      <nav>
        <a href="#bottoms">Bottoms</a> |
        <a href="#tops">Tops</a> |
        <a href="#outerwear">Outerwear</a> |
        <a href="#shoes">Shoes</a> |
        <a href="#formal-attire">Formal Attire</a> |
        <a href="#extras">Extras</a>
      </nav>
    </header>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://basicwardrobe.info" data-via="taylorlapeyre">Tweet</a>
      <iframe src="http://ghbtns.com/github-btn.html?user=taylorlapeyre&repo=basicwardrobe.info&type=fork&count=true" allowtransparency="true" class="github" frameborder="0" scrolling="0" width="95" height="20"></iframe>
    </div>
    <div class="clothing">
      {{ content }}
    </div>
    <footer>
      <p>
        A Thing by <a href="http://taylorlapeyre.me">Taylor Lapeyre</a> |
        <a href="http://github.com/taylorlapeyre/basic-wardrobe">Contribute!</a>
      </p>
    </footer>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </body>
</html>
