<!doctype html>
<html>
  <head>
    <title>A Basic Wardrobe</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <h1>A Basic Wardrobe</h1>
      <p>
        The goal of this website is to present a minimal <a target="_blank" href="http://en.wikipedia.org/wiki/Capsule_wardrobe">capsule wardrobe</a> for men that has been carefully thought out and considered. The suggested items in each section infer that the reader is willing to spend more money on fewer, better quality items.
      </p>
      <br>
      <nav>
        <a href="#bottoms">Bottoms</a> |
        <a href="#tops">Tops</a> |
        <a href="#outerwear">Outerwear</a> |
        <a href="#shoes">Shoes</a> |
        <a href="#formal_attire">Formal Attire</a> |
        <a href="#misc">Extras</a>
      </nav>
    </header>
    <div class="clothing">
      {{ content }}
    </div>
  </body>
</html>
